[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
watchdog = "*"
rich = "*"
typer = "*"
click = "*"
pymysql = "*"
pyinstaller = "*"
"ruamel.yaml" = "*"
gen = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
