[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0"
watchdog = "==2.1.9"
rich = "==12.6.0"
typer = "==0.6.1"
click = "==8.1.3"
pymysql = "==1.0.2"
pyinstaller = "==5.5"
"ruamel.yaml" = "==0.17.21"
altgraph = "==0.17.3"
commonmark = "==0.9.1"
emoji = "==2.1.0"
gen = {editable = true, ref = "deb0276e04b8ff6e80e21a08fd490cc915f7843e", git = "https://github.com/shadmeoli/Generate.git"}
pygments = "==2.13.0"
pyinstaller-hooks-contrib = "==2022.10"
"ruamel.yaml.clib" = "==0.2.6"
docker = "*"

[dev-packages]

[requires]
python_version = "3.9"
